<nav class="top-row navbar navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="">Habit Tracker</a>

        <button class="navbar-toggler d-md-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mobileNav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<!-- Desktop sidebar -->
<div class="nav-scrollable d-md-block">
    <nav class="navbar-nav p-4" style="font-weight: bold; accent-color: black;">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="/statistics">Statistics</NavLink>
    </nav>
</div>

<!-- Mobile/small screen collapse menu -->
<div id="mobileNav" class="collapse d-md-none">
    <nav class="navbar-nav px-3">
        <NavLink class="nav-link" href="">Home</NavLink>
        <NavLink class="nav-link" href="/statistics">Statistics</NavLink>
    </nav>
</div>