@using HabitTracker.Components.Models;
@using HabitTracker.Components.Services;
@using System.ComponentModel.DataAnnotations;

@page "/create"
@inject HabitService habitService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Create a new habit</PageTitle>

<div style="margin-bottom: 20px;">
	<h1>Create Habit</h1>
	<a href="/">Back To Homepage</a>
</div>

<div>
	<h3 style="margin: 20px 0;">Enter the details for a new habit below.</h3>

	<EditForm Model="newHabit" OnValidSubmit="HandleValidSubmit">
		<DataAnnotationsValidator />

		<div>
			<label>Habit Name: </label>
			<InputText @bind-Value="newHabit.Name" placeholder="Enter a name for your habit" />
			<ValidationMessage For="@(() => newHabit.Name)" />
		</div>

		<div style="margin-top: 20px;">
			<button type="submit" disabled="@isProcessing" class="btn btn-outline-primary p-2" margin-top="100px">Save Habit</button>
		</div>

		@if (showPopUp)
		{
			<span class="popup-message">Habit created</span>
		}

		</EditForm>
</div>

@code {
	private Habit newHabit = new();

	private bool showPopUp { get; set; } = false;

	private bool isProcessing { get; set; } = false;

	private async void HandleValidSubmit()
	{
		isProcessing = true;
		showPopUp = true;
		await Task.Delay(1500);
		StateHasChanged();

		await habitService.AddHabitAsync(newHabit);
		newHabit = new Habit();

		isProcessing = false;

		await Task.Delay(500);
		showPopUp = false;
		StateHasChanged();

		Navigation.NavigateTo("/", forceLoad: true);
	}
}
