@page "/edit/{id:int}"
@rendermode InteractiveServer
@using HabitTracker.Components.Models
@using HabitTracker.Components.Services

@inject HabitService habitService
@inject NavigationManager Navigation

<PageTitle>Edit Habit</PageTitle>

<h1>Edit Habit</h1>

@if (habit == null)
{
	<p>Sorry, the habit you are trying to edit does not exist. Redirecting to the homepage...</p>
}
else
{
	<EditForm Model="habit" OnValidSubmit="HandleSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<div>
			<InputText @bind-Value="habit.Name" />
		</div>
		<button type="submit" disabled="@isProcessing" class="btn btn-sm btn-outline-primary mt-4">Save Changes</button>

		@if (showPopUp)
		{
			<span class="popup-message">Changes saved</span>
		}
		</EditForm>
}

@code {

	[Parameter] public int Id { get; set; }

	private bool showPopUp { get; set; } = false;

	private bool isProcessing { get; set; } = false;

	private Habit? habit;

	protected override async Task OnInitializedAsync()
	{
		habit = await habitService.GetHabitByIdAsync(Id);

		if (habit == null)
		{
			await Task.Delay(2000);
			Navigation.NavigateTo("/", forceLoad: true);
		}
	}

	private async Task HandleSubmit()
	{

		if (habit != null)
		{
			isProcessing = true;
			showPopUp = true;
			await Task.Delay(1000);
			StateHasChanged();

			await habitService.EditHabitAsync(habit, habit.Id);

			isProcessing = false;
			await Task.Delay(500);
			showPopUp = false;
			StateHasChanged();

			Navigation.NavigateTo("/", forceLoad: true);
		}
	}
}